asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1783975656336/work
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_debugpy_1780390153/work
dotenv==0.9.9
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1756729339227/work
greenlet @ file:///home/task_177494889195224/croot/greenlet_1774949548325/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipykernel_1781101665/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1788260388/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jedi_1782251948/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_client_1787929615/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jupyter_core_1760643864/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1778264321245/work
mkl-service==2.7.2
mkl_fft @ file:///home/task_177730042475029/croot/mkl_fft_1777300452816/work
mkl_random @ file:///home/task_178236943902699/croot/mkl_random_1782369467912/work
nest-asyncio2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_nest-asyncio2_1770973502/work
numpy @ file:///home/task_178764989590758/croot/numpy_and_numpy_base_1787649968031/work/dist/numpy-2.5.2-cp313-cp313-linux_x86_64.whl#sha256=c823fef0a81ee7bf58184f5bbb44c99548522b5377ffdfd85bb0b292c3ea5442
packaging==26.3
pandas @ file:///home/task_Sj57bAJSRR-xO_0/croot/pandas_1785760215437/work
parso @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_parso_1777722955/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1788271419/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1785160527032/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_psutil_1788189989/work
psycopg2 @ file:///home/task_176616376907120/croot/psycopg2_1766163901878/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pygments_1786995678/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.3
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyzmq_1787300896/work
setuptools==83.0.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
SQLAlchemy @ file:///home/task_J0J6xvsBQHKcJ_0/croot/sqlalchemy_1783083828997/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1788524738752/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_traitlets_1785761789/work
typing_extensions @ file:///home/task_MqFi4W2rTOeGu_0/croot/typing_extensions_1784100989064/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_wcwidth_1788174996/work
wheel==0.47.0
